<!DOCTYPE html>
<html lang="en">
<!-- Mirrored from dore-jquery.coloredstrategies.com/Pages.Auth.Login.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 27 Aug 2019 12:30:00 GMT -->

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="font/iconsmind-s/css/iconsminds.css">
    <link rel="stylesheet" href="font/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="css/vendor/bootstrap.rtl.only.min.css">
    <link rel="stylesheet" href="css/vendor/bootstrap-float-label.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<script src="js/vendor/jquery-3.3.1.min.js"></script>
<script src="js/vendor/bootstrap.bundle.min.js"></script>
<script src="js/dore.script.js"></script>
<script src="js/scripts.js"></script>

<body class="background show-spinner">
    <div class="fixed-background"></div>
    <main>
        {{{body}}}
    </main>
    
</body>
<!-- Mirrored from dore-jquery.coloredstrategies.com/Pages.Auth.Login.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 27 Aug 2019 12:30:00 GMT -->

</html>