<!DOCTYPE html>
<html>

	{{> header }}

<body id="app-container" class="menu-default show-spinner vertical boxed">

	{{> nav }}

	{{> left_nav }}

    {{{body}}}

    {{> footer }}


</body>



</html>